@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@900&display=swap");

section {
  font-family: "Poppins", sans-serif;
  background-image: url(./images/Header\ bg@2x.png);
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

.wrapper {
  display: flex;
  flex-direction: column;
}

header {
  color: #6070ff;
  position: relative;
  align-items: baseline;
  background-color: rgb(247, 240, 240);
  padding: 4px;
}

.h4 {
  height: 20px;
  left: 12px;
  top: 10px;
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  text-decoration: none;
  margin-top: 20px;
}

.h4:hover {
  cursor: pointer;
}

.hamb {
  width: 18px;
  float: right;
  top: 18px;
  right: 4px;
  position: absolute;
  color: #6070ff;
}

.hamb:hover {
  cursor: pointer;
}

.headline-section h1 {
  font-size: 40px;
  font-weight: bold;
  line-height: 52px;
  font-style: normal;
  width: 90%;
  text-align: left;
  margin: 0 auto;
  padding-left: 5px;
  margin-top: 20%;
}

section p {
  position: static;
  color: #344563;
  font-size: 16px;
  font-weight: normal;
  font-style: normal;
  line-height: 24px;
  left: 24px;
  width: 90%;
  text-align: left;
  margin: 0 auto;
}

.social-icon {
  padding: 5px;
}

.card-desc ul {
  list-style: none;
  padding: 20px;
}

.card-desc ul li {
  display: inline;
  padding: 5px;
  font-size: 22px;
  color: #7a869a;
  line-height: 16px;
  font-weight: 600;
  font-style: normal;
  font-family: "Poppins", sans-serif;
}

.desc ul li {
  color: #6070ff;
  letter-spacing: 0.03em;
  font-size: 22px;
  border-radius: 8px;
  padding: 4px 12px;
  margin: 8px;
  background-color: #ebebff;
  align-items: center;
}

.about-me ul {
  list-style: none;
}

.about-me ul li {
  font-size: 32px;
  padding: 18px;
}

.social-icon img:hover {
  cursor: pointer;
}

.social-wrapper ul {
  list-style-type: none;
}

.social-wrapper ul li {
  display: inline;
  padding: 5px;
}

.social-wrapper ul li:hover {
  cursor: pointer;
  background-color: rgb(230, 193, 193);
  padding: 4px;
  border-radius: 8px;
}

.social-details {
  align-self: flex-start;
  text-align: center;
}

.social-details h5 {
  color: #6070ff;
}

.back-drop {
  margin-bottom: 20px;
  padding-bottom: 20px;
}

.work {
  display: grid;
  display: flex;
  flex-direction: column;
  padding-left: 40px;
}

.card {
  border: 1px solid #dfe1e6;
  border-radius: 16px;
  margin-right: 30px;
  margin-top: 40px;
  padding: 10px;
  background-color: #fff;
  box-sizing: border-box;
}

.card-desc {
  display: flex;
  flex-direction: column;
  padding: 24px;
  align-items: flex-start;
}

.card-desc h2 {
  font-family: "Poppins", sans-serif;
  font-size: 32px;
  font-weight: bold;
  font-style: normal;
  line-height: 44px;
  color: #172b4d;
  width: 295px;
  height: 36px;
}

.desc {
  display: flex;
  flex-direction: column;
}

.desc p {
  color: #7a869a;
  font-family: "Poppins", sans-serif;
  font-size: 22px;
  font-style: normal;
  line-height: 24px;
}

.desc button {
  width: 30%;
  margin: 20px;
  padding: 10px;
  color: #396df2;
  text-align: center;
  align-items: center;
  letter-spacing: 0.03em;
  font-size: 22px;
  border: 1px solid #396df2;
  border-radius: 8px;
  background-color: #fff;
}

.card-1 {
  background-image: url("./cards/card-1.png");
  background-repeat: no-repeat;
  width: 544px;
  height: 448px;
  border-radius: 18px;
}

.card-2 {
  background-image: url("./cards/card-2.png");
  background-repeat: no-repeat;
  width: 544px;
  height: 448px;
  border-radius: 18px;
}

.card-3 {
  background-image: url("./cards/card-3.png");
  background-repeat: no-repeat;
  width: 544px;
  height: 448px;
  border-radius: 18px;
}

.card-4 {
  background-image: url("./cards/card-4.png");
  background-repeat: no-repeat;
  width: 544px;
  height: 448px;
  border-radius: 18px;
}

.about-me {
  margin-left: 10px;
}

.about-me h1 {
  margin-left: 40px;
  font-size: 60px;
}

.about-me p {
  font-size: 22px;
  letter-spacing: 0.03em;
  font-weight: normal;
  line-height: 24px;
  color: #344563;
  font-family: "Poppins", sans-serif;
}

.about-me button {
  width: 30%;
  margin: 20px;
  padding: 10px;
  color: #396df2;
  text-align: center;
  align-items: center;
  letter-spacing: 0.03em;
  font-size: 22px;
  border: 1px solid #396df2;
  border-radius: 8px;
  background-color: #fff;
}
