@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@900&display=swap');

main {
  display: flex;
  flex-direction: column;
  max-width: 1000px;
  margin: 5%;
  font-family: 'Poppins';
}

header {
  color: #6070ff;
  position: relative;
  display: flex;
  align-items: baseline;
}

h4 {
  height: 20px;
  left: 12px;
  top: 10px;
  position: static;
  font-style: normal;
  font-weight: bold;
  font-size: 18px;  
}

h4:hover {
  cursor: pointer;
}

.hamb {
  width: 18px;
  float: right;
  top: 18px;
  right: 4px;
  position: absolute;
  color: #6070ff;
}

.hamb:hover { 
  cursor: pointer;
}

section {
  text-align: center;
}

section h1 {
  font-size: 40px;
  font-weight: bold;
  line-height: 52px;
  font-style: normal;
}

section p {
  display: inline;
  position: static;
  color: #344563;
  font-size: 16px;
  font-weight: normal;
  font-style: normal;
  line-height: 24px;
  left: 24px;
}